<div class="container" cdkDropListGroup>
  <div class="calendar-container">
    <div class="calendar-header">
      <div>
        <h2
          class="calendar-month"
          *ngIf="calendarViewModelService.currentView === 'month' || calendarViewModelService.currentView === 'week'"
        >
          {{ calendarViewModelService.viewDate | date : "MMMM" }}
          <span>{{ calendarViewModelService.viewDate | date : "y" }}</span>
        </h2>
        <h2 class="calendar-month" *ngIf="calendarViewModelService.currentView === 'day'">
          {{ calendarViewModelService.viewDate | date : "d MMMM" }}
          <span>{{ calendarViewModelService.viewDate | date : "y" }}</span>
        </h2>
        <span class="calendar-dayname" *ngIf="calendarViewModelService.currentView === 'day'">
          {{ calendarViewModelService.viewDate | date : "EEEE" }}
        </span>
      </div>
      <mat-button-toggle-group
        class="calendar-view-toggle"
        name="currentView"
        (change)="calendarViewModelService.switchToView($event.value)"
        aria-label="Calendar-View"
      >
        <mat-button-toggle checked="{{ true }}" value="{{ CalendarView.Month }}"
        >Month</mat-button-toggle
        >
        <mat-button-toggle value="{{ CalendarView.Week }}"
        >Week</mat-button-toggle
        >
        <mat-button-toggle value="{{ CalendarView.Day }}"
        >Day</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div class="calendar-controls">
        <button
          mat-icon-button
          (click)="calendarViewModelService.previous()"
          (keydown.enter)="calendarViewModelService.previous()"
          (keydown.space)="calendarViewModelService.previous()"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button
          mat-stroked-button
          (click)="calendarViewModelService.viewToday()"
          (keydown.enter)="calendarViewModelService.viewToday()"
          (keydown.space)="calendarViewModelService.viewToday()"
        >
          Today
        </button>
        <button
          mat-icon-button
          (click)="calendarViewModelService.next()"
          (keydown.enter)="calendarViewModelService.next()"
          (keydown.space)="calendarViewModelService.next()"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button
          mat-flat-button
          (click)="calendarViewModelService.selectDate()"
          (keydown.enter)="calendarViewModelService.selectDate()"
          (keydown.space)="calendarViewModelService.selectDate()"
        >
          Add Appointment
        </button>
      </div>
    </div>

    <!-- Month @start -->
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      class="calendar-view-month"
      *ngIf="calendarViewModelService.currentView === 'month'"
    >
      <thead>
      <tr>
        <th *ngFor="let day of calendarViewModelService.weekDays">
          {{ day }}
        </th>
      </tr>
      </thead>
      <tbody cdkDropListGroup>
      <tr *ngFor="let week of calendarViewModelService.weeks()">
        <td
          *ngFor="let date of week"
          cdkDropList
          (cdkDropListDropped)="calendarViewModelService.drop($event, date)"
          [cdkDropListData]="calendarViewModelService.appointments()"
          [class.today]="calendarViewModelService.isToday(date)"
          [ngStyle]="{ opacity: calendarViewModelService.isCurrentMonth(date) ? '1' : '0.5' }"
        >
          <div
            (click)="calendarViewModelService.selectDate(date)"
            (keydown.enter)="calendarViewModelService.selectDate(date)"
            (keydown.space)="calendarViewModelService.selectDate(date)"
            class="cell-overlay"
            tabindex="0"
          ></div>
          <div class="date">
            {{ date.getDate() }}
          </div>
          <div class="appointments">
            <ng-container *ngFor="let appointment of calendarViewModelService.appointments()">
              <div
                tabindex="0"
                *ngIf="calendarViewModelService.isSameDate(appointment.date, date)"
                class="appointment"
                cdkDrag
                cdkDragHandle
                [cdkDragData]="appointment"
                [ngStyle]="{ 'background-color': appointment.color }"
                (click)="calendarViewModelService.editAppointment(appointment, $event)"
                (keydown.enter)="calendarViewModelService.editAppointment(appointment, $event)"
                (keydown.space)="calendarViewModelService.editAppointment(appointment, $event)"
              >
                <span>{{ appointment.title }}</span>
              </div>
            </ng-container>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- Month @end -->

    <!-- Week View -->
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      class="calendar-view-week"
      *ngIf="calendarViewModelService.currentView === 'week'"
    >
      <thead>
      <tr>
        <th></th>
        <th *ngFor="let day of calendarViewModelService.weekDays; index as i">
          {{ day }} {{ calendarViewModelService.monthDays()[i].getDate() }}
        </th>
      </tr>
      </thead>
      <tbody cdkDropListGroup>
      <tr *ngFor="let timeSlot of calendarViewModelService.timeSlots()">
        <td [width]="10" class="calendar-slot-cell">
          <span>{{ timeSlot }}</span>
        </td>
        <td
          *ngFor="let day of calendarViewModelService.weekDays; index as i"
          cdkDropList
          (cdkDropListDropped)="calendarViewModelService.drop($event, calendarViewModelService.monthDays()[i], timeSlot)"
          [cdkDropListData]="calendarViewModelService.appointments()"
        >
          <div
            (click)="calendarViewModelService.selectDate(calendarViewModelService.monthDays()[i], timeSlot)"
            (keydown.enter)="calendarViewModelService.selectDate(calendarViewModelService.monthDays()[i], timeSlot)"
            (keydown.space)="calendarViewModelService.selectDate(calendarViewModelService.monthDays()[i], timeSlot)"
            class="cell-overlay"
            tabindex="0"
          ></div>
          <div
            tabindex="0"
            *ngFor="
                let appointment of calendarViewModelService.getAppointmentsForDateTime(
                  calendarViewModelService.monthDays()[i],
                  timeSlot
                )
              "
            class="appointment"
            cdkDrag
            cdkDragHandle
            [cdkDragData]="appointment"
            [ngStyle]="{ 'background-color': appointment.color }"
            (click)="calendarViewModelService.editAppointment(appointment, $event)"
            (keydown.enter)="calendarViewModelService.editAppointment(appointment, $event)"
            (keydown.space)="calendarViewModelService.editAppointment(appointment, $event)"
          >
            <span>{{ appointment.title }}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Day View -->
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      class="calendar-view-day"
      *ngIf="calendarViewModelService.currentView === 'day'"
    >
      <tbody cdkDropListGroup>
      <tr *ngFor="let slot of calendarViewModelService.timeSlots()">
        <td [width]="10" class="calendar-slot-cell">
          <span>{{ slot }}</span>
        </td>
        <td
          cdkDropList
          (cdkDropListDropped)="calendarViewModelService.drop($event, calendarViewModelService.monthDays()[0], slot)"
          [cdkDropListData]="calendarViewModelService.appointments()"
        >
          <div
            (click)="calendarViewModelService.selectDate(calendarViewModelService.monthDays()[0], slot)"
            (keydown.enter)="calendarViewModelService.selectDate(calendarViewModelService.monthDays()[0], slot)"
            (keydown.space)="calendarViewModelService.selectDate(calendarViewModelService.monthDays()[0], slot)"
            class="cell-overlay"
            tabindex="0"
          ></div>
          <div
            tabindex="0"
            *ngFor="
                let appointment of calendarViewModelService.getAppointmentsForDateTime(
                  calendarViewModelService.monthDays()[0],
                  slot
                )
              "
            class="appointment"
            cdkDrag
            cdkDragHandle
            [cdkDragData]="appointment"
            [ngStyle]="{ 'background-color': appointment.color }"
            (click)="calendarViewModelService.editAppointment(appointment, $event)"
            (keydown.enter)="calendarViewModelService.editAppointment(appointment, $event)"
            (keydown.space)="calendarViewModelService.editAppointment(appointment, $event)"
          >
            <span>{{ appointment.title }}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
